.*
!.editorconfig
*.a
*.txt
*~
*.log*
*.swp*
*.pyc
*.root
*.csv
__pycache__
*.dump
geawis
geawis_csim
geawis_cosim
geawis_csynth
data/generateData
topx
algo_top
tb_topx
tb_algo_top
algo_top_cosim
algo_top_csim
algotop_csynth
